body{
    background: #ffffff;
}

.example-cards {

    display: flexbox;
    padding-left: 40px;
    min-height: 120%;
    width: 120%;

}
    
.card-body {

    padding-left: 0px;
}

.Title p {

    font-size: 129%;
}

.row h5 {
    padding-right: 10px;
    color: #3F8ECC
    
}

.row h6 {
    font-size: 85%;
    text-align: justify;

}
