<!-- your html code here -->
<div class="container ">
    <h2>Contact</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, earum! Assumenda asperiores eum natus dicta maiores alias doloremque autem neque temporibus labore! Earum molestias omnis eligendi sunt consequuntur. Dignissimos, hic.
    </p>

    <div class="container w-75 bg-light fw-bold border">
        <form>
            <div class="mb-3 row ms-5">
                <label for="staticEmail" class="col-sm-2 col-form-label mt-3 text-end">Your E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control mt-3" id="inputemail" placeholder="Your email">
                </div>
            </div>
            <div class="mb-3 row ms-5">
                <label for="inputPassword" class="col-sm-2 col-form-label text-end">Your message</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" placeholder="Pleace enter your message here..." id="floatingTextarea" ></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button  type="submit" class="btn btn-primary  mb-4"> Submit</button>
            </div> 
            

        </form>
    </div>


</div>