<div class="row featurette justify-content-md-center">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">The Second Heading. <span class="text-muted">Is pretty cool too.</span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex massa, viverra id sapien vel, pellentesque sagittis felis. Vestibulum in lacinia felis, interdum tristique ipsum. Nulla sed sollicitudin velit, ac finibus orci.</p>
    </div>
    <div class="col-md-4 order-md-1">
        <img class="rounded-circle w-75" alt="avatar1" src="./assets/img/2.jpg" />
    </div>
</div>